@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
  --basic-black:  #000000;
  --basic-white:  #FFFFFF;
  --basic-blue:  #81B3D2;
  --basic-brown:  #766357;
  --detailed-put:  #669EC0;
  --detailed-press:  #5496BD;
  --book-put:  #604E43;
  --book-press:  #503E33;
  --social-btn-put:  #669EC0;
  --social-btn-press:  #5496BD;
  --htmlacademy-put:  #669EC0;
  --htmlacademy-press:  #5496BD;
  --nav-put: #669EC0;
  --nav-press: #5496BD;
}

/* Navigation */
header {
  display: flex;
  
  align-items: center;
  padding: 0px 10px;
  height: 56px;
  background-color: var(--basic-white);
}

.nav_links {
  display: inline-block;
  padding: 94px 26px;
  margin: 150px;
}

.nav_links li a:hover {
  color: var(--nav-put);
}

.nav_links li a:hover {
  color: var(--nav-press);
}
/* Global */


body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.nav_links li {
  display: inline-block;
  padding: 94px 26px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.social-icon ul, .nav_links ul, .found ul, .result-of-search ul {
  list-style-type: none;
  margin: 0; padding: 0;
}



/* Hotel filter */

.button-default a {
  text-decoration: none;
  font-size: 21px;
  color: white;
  font-weight: bold;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-style: normal;
}

.btn-search a {    
    background-color: var(--basic-blue);
    padding: 16px 182px;
    width: 458px;
    height: 58px;
}

.btn-search a:hover {
    background-color: var(--detailed-put);
}

.btn-search a:focus {
    background-color: var(--detailed-press);
}

.btn-search-of-hotels a {
    background-color: var(--basic-brown); 
    padding: 16px 182px;
    width: 568px;
    height: 86px;
}

.btn-search-of-hotels a:hover {
    background-color: var(--book-put);
}

.btn-search-of-hotels a:focus {
  background-color: var(--book-press);
}

.btn-detailed a {   
    font-size: 14px; 
    background-color: var(--basic-blue); 
    padding: 3px 16px;    
    width: 110px;
    height: 27px;  
}

.btn-detailed  a:hover {
  background-color: var(--detailed-put);
}

.btn-detailed  a:focus {
background-color: var(--detailed-press);
}

.btn-book a {
  font-size: 14px; 
  background-color: var(--basic-brown); 
  padding: 3px 16px;
  width: 142px;
  height: 27px;
}

.btn-book a:hover {
  background-color: var(--book-put);
}

.btn-book  a:focus {
background-color: var(--book-press);
}

.name-of-hotel a {
    position: relative;
    text-decoration: none;
    font-size: 21px;
    background-color: var(--basic-white); 
    color: var(--basic-black);
    width: 240px;
    height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", "sans-serif";
    font-style: normal;

}

.name-of-hotel a:hover {
  color: var(--basic-blue);
}

.name-of-hotel a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}


/*footer*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.social-button {
  display: block;
  width: 46px;
  height: 46px;
  background-color: var(--basic-blue);
  margin: 6px;
}

.social {
  display: block;
  margin: auto;
  padding: 13px;
}

.logo-htmlacademy:hover path {
    fill: var(--htmlacademy-put);
}

.logo-htmlacademy:active path {
  color: var(--htmlacademy-press);
  mix-blend-mode: normal;
  opacity: 0.3;
}

